/*
 * Welcome Page.
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

html, body {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.welcome-bg {
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: 100% 100%;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.header {
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  widht: 100%;
  .top-right {
	position: absolute;
	right: 10px;
	top: 18px;
  }
  .title {
	position: absolute;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	left: 20px;
	top: 5px;
  }
}

.content {
  .register-form {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 400px;
	height: auto;
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
  }
}

.links > a {
  color: #FFF;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}